 <main>
        <section id="main">
            <div class="about">
                <div class="about-us">
                    <p>CHECKOUT</p>
                </div>
                <div class="home-about">
                    <div class="home">
                        <a href="home.html">
                            <p>HOME </p>
                        </a>
                    </div>
                    <div class="drop">
                        <p>/</p>
                    </div>
                    <div class="about">
                        <p>CHECKOUT</p>
                    </div>
                </div>
            </div>
            <div class="border">

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="inputs-area">
                            <h2>Billing Details</h2>
                            <form>
                                <div class="texts">
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>First Name (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Last Name (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                </div>


                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Company name (optional)</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="group inputs">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Address</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="group textarea">
                                    <input required type="text">
                                    <span class="bar"></span>
                                    <label>Town/city</label>
                                    <span class="validation">Please enter a valid message</span>
                                </div>

                                <div class="texts">
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>State / Country (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Postcode / zip (required)*</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                </div>
                                <div class="texts">
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Email Address (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                    <div class="group inputs">
                                        <input required type="text">
                                        <span class="bar"></span>
                                        <label>Phone (required) *</label>
                                        <span class="validation">Please enter a valid message</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <h2>Additional information</h2>
                                    <p>Order notes (optional)</p>
                                </div>
                                <div class="group textarea">
                                    <textarea required></textarea>
                                    <span class="bar"></span>
                                    <label>Post content *</label>
                                </div>

                                <button type="submit">Submit Review</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="order">
                            <div class="texts">
                                <span>Product</span>
                                <span>Total</span>
                            </div>
                            <div class="border">

                            </div>
                            <p>There are no products in cart</p>
                            <div class="border">

                            </div>
                            <div class="text">
                                <div class="text1">
                                    <span>Subtotal</span>
                                </div>
                                <div class="text2">
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <div class="borders1">
                                <div class="border">

                                </div>
                            </div>
                            <div class="text11">
                                <div class="text1">
                                    <span>Total</span>
                                </div>
                                <div class="text2">
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <div class="borders1">
                                <div class="border">

                                </div>
                            </div>



                            <div class="payment">
                                <div class="bank">
                                    <input name="money" type="radio">
                                    <span>Direct Bank Transfer</span>

                                </div>
                                <div class="bank">
                                    <input name="money" type="radio">
                                    <span>PayPal</span>
                                </div>

                            </div>

                            <div class="buttons">
                                <button><span>PLACE OLDER</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
